body{
    margin: 0;
    padding: 0; 
}
.banner{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 10%;
    justify-content: space-between;
}
.logo img{
    width: 40%;
    margin: 5%;
}
.user{
    text-align: end;
    margin: 2.5%;
}
.user img{
    background-color: lightgray;
    width: 17.5%;
    border-radius: 50%;
    justify-content: end;
    border: 1px solid rgb(53, 53, 53);
    padding: 2px;
}
.moto img{
    width: 12.5%;
    margin: 12.5%;
    padding-left: 5.1vw;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

